@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Chilanka|Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
/*Puzzle section*/
.puzzle-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 7% 0 5% 0;
}